<div class="homepage">
  <!-- Image Slider -->
  <div class="image-slider">
    <div *ngFor="let image of images; let index = index" class="image-slide" [class.active]="activeImageIndex === index">
      <img [src]="image" alt="Slider Image">
      <!-- Calque semi-transparent -->
      <div class="image-overlay"></div>
    </div>

    <!-- Conteneur pour les boutons et le formulaire -->
    <div class="overlay-container">
      <!-- Boutons OffreGp et AgenceGp -->
      <div class="search-buttons">
        <button pButton type="button" (click)="showSearchForm('offreGp')" [ngClass]="{'p-button-success active': activeSearch === 'offreGp'}">
          <i class="pi pi-briefcase"></i> {{ 'OFFRE_GP' | translate }}
        </button>
        <button pButton type="button" (click)="showSearchForm('agenceGp')" [ngClass]="{'p-button-primary active': activeSearch === 'agenceGp'}">
          <i class="pi pi-building"></i> {{ 'AGENCE_GP' | translate }}
        </button>
      </div>

      <!-- Formulaire de recherche dynamique -->
      <div class="search-container" [ngClass]="{'offreGp-style': activeSearch === 'offreGp', 'agenceGp-style': activeSearch === 'agenceGp'}">
        <div class="search-inputs">
          <input pInputText *ngIf="activeSearch === 'offreGp'" type="text" [placeholder]="'DEPART_PLACEHOLDER' | translate" [(ngModel)]="search.depart">
          <input pInputText *ngIf="activeSearch === 'offreGp'" type="text" [placeholder]="'DESTINATION_PLACEHOLDER' | translate" [(ngModel)]="search.destination">
          <input pInputText *ngIf="activeSearch === 'agenceGp'" type="text" [placeholder]="'COUNTRY_CITY_PLACEHOLDER' | translate" [(ngModel)]="search.depart">
          <input pInputText *ngIf="activeSearch === 'agenceGp'" type="text" [placeholder]="'DESTINATION_PLACEHOLDER' | translate" [(ngModel)]="search.destination">
        </div>
        <button pButton type="button" (click)="searchResults()" class="p-button-rounded p-button-outlined">
          <i class="pi pi-search"></i> {{ 'SEARCH_BUTTON' | translate }}
        </button>
      </div>
    </div>
  </div>
  <!-- Nouvelle section : Programmes GP défilants -->
  <section *ngIf="programmegps.length > 0" class="programmes-gp">
    <h4 class="text-center ">{{ 'PROGRAMMES_GP' | translate }}</h4>
    <div class="programmes-container">
      <!-- Flèche gauche -->
      <button pButton class="scroll-button left" (click)="scrollLeft()">
        <i class="pi pi-angle-left"></i>
      </button>

      <!-- Conteneur des programmes -->
      <div class="programmes-wrapper" (mouseenter)="pauseScroll()" (mouseleave)="resumeScroll()">
        <!-- Afficher les programmes deux fois pour créer une boucle -->
        <div *ngFor="let programme of programmegps" class="programme-card" >
          <div class="card-header bg-info text-white d-flex align-items-center">
            <i class="pi pi-user me-2"></i>
            <strong>{{ programme.agentGp.nomagence }}</strong>
          </div>
          <img src="icons/bag1.png" class="card-img-top img-fluid" alt="Programme image" style="height: 110px; object-fit: cover;" (click)="showDetails(programme)">
          <div class="card-body" (click)="showDetails(programme)">
            <h5 class="card-title text-center mb-3" style="font-size: 1rem; color: #333;">
              {{ programme.depart }} <i class="pi pi-arrow-right mx-2"></i> {{ programme.destination }}
            </h5>
            <p class="card-text">
              <i class="pi pi-tag me-2"></i>
              <strong>Prix/Kg:</strong> {{ programme.prix | currency }}
            </p>
            <p class="card-text">
              <i class="pi pi-calendar me-2"></i>
              <strong>Date limite:</strong> {{ programme.dateline }}
            </p>
          </div>
          <!-- Boutons de contact -->
          <div class="card-footer bg-light d-flex justify-content-center gap-2">
            <p-button icon="pi pi-whatsapp" [rounded]="true" severity="success" [outlined]="true" (click)="openWhatsApp(programme.agentGp.telephone)"/>
            <p-button icon="pi pi-phone" [rounded]="true" severity="info" [outlined]="true" (click)="makePhoneCall(programme.agentGp.telephone)"/>
            <p-button icon="pi pi-comment" [rounded]="true" severity="warning" [outlined]="true" (click)="sendSms(programme.agentGp.telephone)"/>
            <div>
              <p-button icon="pi pi-map-marker" [rounded]="true" [text]="true" [raised]="true"></p-button>
            </div>
          </div>

        </div>
        <!-- Dupliquer les programmes pour créer une boucle -->
        <div *ngFor="let programme of programmegps" class="programme-card">
          <div class="card-header bg-info text-white d-flex align-items-center">
            <i class="pi pi-user me-2"></i>
            <strong>{{ programme.agentGp.nomagence }}</strong>
          </div>
          <img src="icons/bag1.png" class="card-img-top img-fluid" alt="Programme image" style="height: 120px; object-fit: cover;" (click)="showDetails(programme)">
          <div class="card-body" (click)="showDetails(programme)">
            <h5 class="card-title text-center mb-3" style="font-size: 1rem; color: #333;">
              {{ programme.depart }} <i class="pi pi-arrow-right mx-2"></i> {{ programme.destination }}
            </h5>
            <p class="card-text">
              <i class="pi pi-tag me-2"></i>
              <strong>Prix/Kg:</strong> {{ programme.prix | currency }}
            </p>
            <p class="card-text">
              <i class="pi pi-calendar me-2"></i>
              <strong>Date limite:</strong> {{ programme.dateline }}
            </p>
          </div>
          <!-- Boutons de contact -->
          <div class="card-footer bg-light d-flex justify-content-center gap-2">
            <p-button icon="pi pi-whatsapp" [rounded]="true" severity="success" [outlined]="true" (click)="openWhatsApp(programme.agentGp.telephone)"/>
            <p-button icon="pi pi-phone" [rounded]="true" severity="info" [outlined]="true" (click)="makePhoneCall(programme.agentGp.telephone)"/>
            <p-button icon="pi pi-comment" [rounded]="true" severity="warning" [outlined]="true" (click)="sendSms(programme.agentGp.telephone)"/>
            <div>
              <p-button icon="pi pi-map-marker" [rounded]="true" [text]="true" [raised]="true"></p-button>
            </div>
          </div>
        </div>
      </div>

      <!-- Flèche droite -->
      <button class="scroll-button right" (click)="scrollRight()">
        <i class="pi pi-angle-right"></i>
      </button>
    </div>
  </section>

  <!-- Section d'en-tête -->
  <div class="header-content">
    <h1>{{ 'WHO_WE_ARE' | translate }}</h1>
    <p>{{ 'MISSION' | translate }}</p>
  </div>

  <!-- Section Statistiques -->
  <section class="statistics">
    <h2 class="text-center">{{ 'STATISTICS' | translate }}</h2>
    <div class="stats-list">
      <div class="stat-item">
        <i class="pi pi-users"></i>
        <p>{{ 'SATISFIED_CLIENTS' | translate }}</p>
        <h4>+60,000</h4>
      </div>
      <div class="stat-item">
        <i class="pi pi-truck"></i>
        <p>{{ 'SUCCESSFUL_DELIVERIES' | translate }}</p>
        <h4>+80,000</h4>
      </div>
      <div class="stat-item">
        <i class="pi pi-globe"></i>
        <p>{{ 'COVERED_DESTINATIONS' | translate }}</p>
        <h4>+300</h4>
      </div>
      <div class="stat-item">
        <i class="pi pi-building"></i>
        <p>{{ 'GP_AGENCIES' | translate }}</p>
        <h4>+200</h4>
      </div>
    </div>
  </section>

  <!-- Section Assistant -->
  <div class="fixed-buttons">
    <div class="assistant-button" (click)="toggleContactOptions()">
      <i class="pi pi-headphones"></i>
      <span>{{ 'ASSISTANT' | translate }}</span>
    </div>
  </div>

  <div *ngIf="showContactOptions" class="contact-options">
    <a [href]="whatsappLink" target="_blank"><i class="pi pi-whatsapp"></i> WhatsApp</a>
    <a href="tel:+221761517642"><i class="pi pi-phone"></i> {{ 'PHONE' | translate }}</a>
    <a href="mailto:gpmonde22@gmail.com"><i class="pi pi-envelope"></i> {{ 'EMAIL' | translate }}</a>
  </div>

  <!-- Section Témoignages -->
  <section class="testimonials">
    <h2 class="text-center">{{ 'TESTIMONIALS' | translate }}</h2>
    <div class="testimonial-list">
      <div class="testimonial-item">
        <i class="pi pi-user"></i>
        <p>{{ 'TESTIMONIAL_1' | translate }}</p>
        <h4>Jean Dupont</h4>
      </div>
      <div class="testimonial-item">
        <i class="pi pi-user"></i>
        <p>{{ 'TESTIMONIAL_2' | translate }}</p>
        <h4>Marie Claire</h4>
      </div>
      <div class="testimonial-item">
        <i class="pi pi-user"></i>
        <p>{{ 'TESTIMONIAL_3' | translate }}</p>
        <h4>Ahmed Diallo</h4>
      </div>
    </div>
  </section>

  <!-- Fenêtre modale pour les détails -->
  <p-dialog header="Détails du Programme" [(visible)]="displayDetails" [modal]="true" [style]="{width: '50vw'}">
    <div *ngIf="selectedProgramme">
      <p><strong>Description:</strong> {{ selectedProgramme.description || 'Non spécifié' }}</p>
      <p><strong>Départ:</strong> {{ selectedProgramme.depart || 'Non spécifié' }}</p>
      <p><strong>Destination:</strong> {{ selectedProgramme.destination || 'Non spécifié' }}</p>
      <p><strong>Prix/Kg:</strong> {{ selectedProgramme.prix | currency }}</p>
      <p><strong>Date limite:</strong> {{ selectedProgramme.dateline }}</p>
      <p><strong>Garantie:</strong> {{ selectedProgramme.garantie }}% de la valeur du colis</p>
    </div>
  </p-dialog>

<!--  Publicité Adsense-->
  <app-adsense></app-adsense>


  <!-- Include FooterComponent -->
  <app-footer></app-footer>
</div>
