<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-menu></app-menu>
    </div>
    <div class="col-md-9">
      <h1>{{ 'homegp.welcomeTitle' | translate }}</h1>
      <p>{{ 'homegp.welcomeMessage' | translate }}</p>
      <div class="welcome-icons">
        <i class="pi pi-globe"></i>
        <i class="pi pi-users"></i>
        <i class="pi pi-comments"></i>
      </div>
      <p>{{ 'homegp.exploreMessage' | translate }}</p>
      <div class="welcome-animation">
      </div>
    </div>
  </div>
</div>
